html {
  background-image: url("./assets/img/bg@2x.png");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

body {
  max-width: 720px;
  margin: 0 auto;
  font-size: 16px;
  padding: 0 2rem;

  &::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 0.625rem;
    background-clip: padding-box;
    border: 0.375rem solid transparent;
  }

  *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
}

.display-flex {
  display: flex;
  align-items: center;
  flex: 0;
}
