html,
body {
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  padding: 0 2rem;
}

html {
  overflow-x: hidden;
}

.display-flex {
  display: flex;
  align-items: center;
  flex: 0;
}
