@charset "utf-8";
@font-face {
  font-family: "NanumSquare";
  src: url("assets/font/NanumSquareL.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("assets/font/NanumSquareR.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("assets/font/NanumSquareL.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("assets/font/NanumSquareL.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/font/Montserrat-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/font/Montserrat-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/font/Montserrat-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/font/Montserrat-ExtraBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
